:root {
  --main-color: #00bfd8;
  --main-color-navbar: rgb(154, 153, 153);
}

::selection {
  background-color: #1f1f1f;
  color: #fff;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #787878;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
.cursor-pointer {
  cursor: pointer;
}
a {
  text-decoration: none;
}
section .container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-title {
  max-width: 700px;
  position: relative;
}
.section-title h2 {
  color: #1f1f1f;
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
  margin: 20px 0;
  position: relative;
}
.section-title h2::before {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translatex(-50%);
  color: #000;
  opacity: 0.06;
  font-size: 2em;
}

.section-title p {
  font-size: 18px;
  color: #999;
  margin-bottom: 70px;
}

#Home .inner {
  z-index: 999;
  position: relative;
}
.my-btn {
  border-radius: 3px;
  padding: 18px 30px;
  line-height: 1;
  font-weight: 700;
  border-width: 0;
  transition: all 0.2s ease-in;
}
.btn-main {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--main-color);
  --bs-btn-border-color: var(--main-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #00d5ee;
  --bs-btn-hover-border-color: #00d5ee;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #00d5ee;
  --bs-btn-active-border-color: #00d5ee;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #00d5ee;
  --bs-btn-disabled-border-color: #00d5ee;
}
.btn-light-custom {
  border: 1px solid white;
  color: white;
  transition: all 0.3s;
}
.btn-light-custom:hover {
  background-color: white;
  color: black;
}
/* * start nav */
header nav.navbar {
  padding: 5px 0;
  transition: all 0.3s;
}
.navbar-brand span {
  letter-spacing: 2px;
}
.navbar-default {
  position: absolute;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar-scroll .nav-icon {
  color: white;
}
.navbar {
  background-color: white;
  position: fixed;
  z-index: 1000;
}
.navbar-scroll {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 999;
}
.navbar-scroll a.nav-link,
.navbar-scroll .nav-icon i {
  color: black;
}
.nav-icon i {
  transition: all 0.3s;
}
.nav-icon i:hover {
  color: var(--main-color-navbar);
}
a.nav-link {
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 0 15px !important;
  font-size: 13px;
  font-weight: bold;
}
.nav-item a:hover {
  color: var(--main-color-navbar);
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--main-color-navbar);
}
.gold-label {
  position: absolute;
  top: 40px;
  right: 35px;
  font-family: "Poppins", sans-serif;
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: #00c3da;
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
}
.navbar img {
  max-height: 40px;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-default .navbar-toggler i {
  color: white;
}
.navbar-scroll .navbar-toggler i {
  color: black;
}
.navbar-toggler i {
  transition: all 0.3s;
}
.navbar-toggler i:hover {
  color: var(--main-color) !important;
}
/* * start header */
#Home {
  background-image: linear-gradient(358deg, #0000003d, #00000000);
}
header #Home .inner {
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
}
header #Home .carousel-item:nth-child(1) .inner {
  background-image: url(../Bezel_CreativeMulti-PurposeHTMLTemplate/bg-image-28.jpg);
}
header #Home .carousel-item:nth-child(2) .inner {
  background-image: url(../Bezel_CreativeMulti-PurposeHTMLTemplate/bg-image-29.jpg);
}

#Home button.carousel-control-next,
#Home button.carousel-control-prev {
  position: absolute;
  left: 0;
  z-index: 1;
  padding: 0;
  color: #fff;
  text-align: center;
  width: fit-content;
  opacity: 1;
  z-index: 999;
}
button.carousel-control-prev {
  max-height: 50px;
  top: 50%;
}
button.carousel-control-next {
  top: -94px;
  max-height: 50px;
  top: calc(50% - 47px);
}

#Home .carousel-control-prev span,
#Home .carousel-control-next span {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  width: 3rem;
  height: 3rem;
  font-size: 30px;
  transition: all 0.3s;
  position: relative;
}
#Home .carousel-control-prev span:hover,
#Home .carousel-control-next span:hover {
  color: black;
}
#Home .carousel-control-next span::before,
#Home .carousel-control-prev span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: white;
  z-index: -1;
  transition: all 0.3s;
}
#Home .carousel-control-prev span:hover::before,
#Home .carousel-control-next span:hover::before {
  width: 100%;
}
#Home h1 {
  font-size: 100px;
}
.btn-main {
  transition: all 0.3s;
}
.btn-main:hover {
  transform: translateY(-1px);
}
/* * start about section */

.animated-letters::after {
  content: "";
  display: inline-block;
  -webkit-animation: writeText 8s infinite;
  animation: writeText 8s infinite;
}
/* data-typed-items="Designer, Developer, Freelancer, Photographer" */

/* data-typed-items="Designer, Developer, Freelancer, Photographer" */
@-webkit-keyframes writeText {
  /* websites - Type */
  0% {
    content: "W|";
  }
  2% {
    content: "We|";
  }
  4% {
    content: "Web|";
  }
  6% {
    content: "Webs|";
  }
  8% {
    content: "Websi|";
  }
  10% {
    content: "Websit|";
  }
  12% {
    content: "Website|";
  }
  14% {
    content: "Websites|";
  }
  /* Pause */
  16% {
    content: "Websites";
  }
  18% {
    content: "Websites|";
  }
  /* websites - Erase */
  20% {
    content: "Website|";
  }
  22% {
    content: "Websit|";
  }
  24% {
    content: "Websi|";
  }
  26% {
    content: "Webs|";
  }
  28% {
    content: "Web|";
  }
  30% {
    content: "W|";
  }
  32% {
    content: "|";
  }

  /* softwares - Type */
  34% {
    content: "S|";
  }
  36% {
    content: "So|";
  }
  38% {
    content: "Sof|";
  }
  40% {
    content: "Soft|";
  }
  42% {
    content: "Softw|";
  }
  44% {
    content: "Softwa|";
  }
  46% {
    content: "Softwar|";
  }
  48% {
    content: "Software|";
  }
  50% {
    content: "Softwares|";
  }
  /* Pause */
  52% {
    content: "Softwares";
  }
  54% {
    content: "Softwares|";
  }
  /* softwares - Erase */
  56% {
    content: "Software|";
  }
  58% {
    content: "Softwar|";
  }
  60% {
    content: "Softwa|";
  }
  62% {
    content: "Softw|";
  }
  64% {
    content: "Soft|";
  }
  66% {
    content: "Sof|";
  }
  68% {
    content: "So|";
  }
  70% {
    content: "S|";
  }
  72% {
    content: "|";
  }

  /* apps - Type */
  74% {
    content: "A|";
  }
  76% {
    content: "Ap|";
  }
  78% {
    content: "App|";
  }
  80% {
    content: "Apps|";
  }
  /* Pause */
  82% {
    content: "Apps";
  }
  84% {
    content: "Apps|";
  }
  86% {
    content: "Apps";
  }
  88% {
    content: "Apps|";
  }
  /* apps - Erase */
  90% {
    content: "App|";
  }
  92% {
    content: "Ap|";
  }
  94% {
    content: "A|";
  }
  96% {
    content: "|";
  }
  98% {
    content: "";
  }
  100% {
    content: "W|";
  } /* Back to start */
}

@keyframes writeText {
  /* websites - Type */
  0% {
    content: "W|";
  }
  2% {
    content: "We|";
  }
  4% {
    content: "Web|";
  }
  6% {
    content: "Webs|";
  }
  8% {
    content: "Websi|";
  }
  10% {
    content: "Websit|";
  }
  12% {
    content: "Website|";
  }
  14% {
    content: "Websites|";
  }
  /* Pause */
  16% {
    content: "Websites";
  }
  18% {
    content: "Websites|";
  }
  /* websites - Erase */
  20% {
    content: "Website|";
  }
  22% {
    content: "Websit|";
  }
  24% {
    content: "Websi|";
  }
  26% {
    content: "Webs|";
  }
  28% {
    content: "Web|";
  }
  30% {
    content: "W|";
  }
  32% {
    content: "|";
  }

  /* softwares - Type */
  34% {
    content: "S|";
  }
  36% {
    content: "So|";
  }
  38% {
    content: "Sof|";
  }
  40% {
    content: "Soft|";
  }
  42% {
    content: "Softw|";
  }
  44% {
    content: "Softwa|";
  }
  46% {
    content: "Softwar|";
  }
  48% {
    content: "Software|";
  }
  50% {
    content: "Softwares|";
  }
  /* Pause */
  52% {
    content: "Softwares";
  }
  54% {
    content: "Softwares|";
  }
  /* softwares - Erase */
  56% {
    content: "Software|";
  }
  58% {
    content: "Softwar|";
  }
  60% {
    content: "Softwa|";
  }
  62% {
    content: "Softw|";
  }
  64% {
    content: "Soft|";
  }
  66% {
    content: "Sof|";
  }
  68% {
    content: "So|";
  }
  70% {
    content: "S|";
  }
  72% {
    content: "|";
  }

  /* apps - Type */
  74% {
    content: "A|";
  }
  76% {
    content: "Ap|";
  }
  78% {
    content: "App|";
  }
  80% {
    content: "Apps|";
  }
  /* Pause */
  82% {
    content: "Apps";
  }
  84% {
    content: "Apps|";
  }
  86% {
    content: "Apps";
  }
  88% {
    content: "Apps|";
  }
  /* apps - Erase */
  90% {
    content: "App|";
  }
  92% {
    content: "Ap|";
  }
  94% {
    content: "A|";
  }
  96% {
    content: "|";
  }
  98% {
    content: "";
  }
  100% {
    content: "W|";
  } /* Back to start */
}

#About h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.05em;
  margin-top: 0;
  color: #1f1f1f;
}
#About p span {
  color: var(--main-color);
}
/* * start team section */

#Team .section-title h2::before {
  content: "C";
}
#Team figcaption h5 {
  font-size: 16px;
  transition: all 0.3s;
}
#Team figure .img img {
  transition: all 0.3s;
}
#Team figure .layer {
  background-color: var(--main-color);
  opacity: 0;
  z-index: 1;
  transition: all 0.3s;
}
#Team figure:hover img {
  transform: scale(1.12);
}
#Team figure:hover .layer {
  opacity: 0.85;
}
#Team .idea {
  padding-top: 100px;
  max-width: 900px;
}
#Team .idea h5 {
  color: #282828;
}
#Team .idea a {
  color: white;
  background-color: var(--main-color);
}
#Team .idea a:hover {
  opacity: 0.5;
}

/* * start Services section */

#Services {
  background-color: #626262;
}
#Services .section-title h2::before {
  content: "W";
  left: 12%;
  top: -12px;
  opacity: 0.06;
  color: white;
}

#Services .col-6.col-md-3 {
  margin-top: 20px;
}
/* *start price section */
#price {
  background-color: #f7f7f7;
}
#price .section-title h2::before {
  content: "C";
}
.price-table {
  padding: 45px 35px;
  margin: 50px auto 25px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
  transition: all 0.3s;
}
.price-table:hover {
  box-shadow: 0 0 65px rgba(0, 0, 0, 0.1);
}
.price-table .price-head h4 {
  font-size: 13px;
  margin: 0;
  font-weight: 400;
}
.price-table .price h2 {
  font-size: 55px;
  letter-spacing: -3px;
  border-bottom: 1px solid #eee;
}
.price-table .price h2 > span {
  font-size: 16px;
  left: -5px;
}
.price-table .features > li {
  padding: 8px 0;
}
.price-table .features > li span {
  font-size: 13px;
  font-weight: 400;
}
#price .box:nth-child(3) .price-table {
  transform: scale(1.07);
}
#price .box {
  max-width: 400px;
  margin: 0 auto;
}
#price .box:nth-child(3) .price-table .price h2 {
  color: var(--main-color) !important;
}
/* *start review section */
#review {
  background-color: #f7f7f7;
}
.item-head {
  position: absolute;
  left: 50%;
  top: -65px;
  transform: translate(-50%, 0px);
}
.item-body span {
  font-family: "Poppins", serif;
  font-size: 12px;
  letter-spacing: 0.03em;
}
.item-body p {
  margin: 25px 0;
  font-size: 18px;
  font-weight: 300;
}

/* * start contact section */
iframe {
  min-height: 500px;
  height: 100%;
}
#contact .section-title h2::before {
  content: "G";
  left: 12%;
  top: -12px;
  opacity: 0.06;
}
.form-group label {
  color: #1f1f1f;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 13px;
}
textarea.form-control {
  resize: none;
  min-height: 110px;
  line-height: inherit;
  padding-top: 15px;
  padding-bottom: 15px;
}
.form-control {
  height: 50px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 50px;
  border: 2px solid #eee;
  border-radius: 0;
  box-shadow: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: black;
  outline: 0;
  box-shadow: none;
}

.tagcloud a,
.post-tags a {
  display: block;
  float: left;
  margin: 0 10px 10px 0;
  padding: 8px 10px;
  font-size: 13px;
  border-radius: 3px;
  border: 1px solid #909090;
  transition: all 0.3s;
}
.tagcloud a:hover,
.post-tags a:hover {
  color: var(--main-color);
  border-color: var(--main-color);
}

.social-list > li > a {
  display: block;
  color: #929292;
  margin-left: 20px;
  transition: all 0.3s ease;
}
.social-list > li > a i {
  transition: all 0.3s;
}
.social-list > li:nth-child(1) a:hover i {
  color: #0077b5;
}
.social-list > li:nth-child(2) a:hover i {
  color: #3b5998;
}
.social-list > li:nth-child(3) a:hover i {
  color: #55acee;
}
.social-list > li:nth-child(4) a:hover i {
  color: #bd081c;
}
.social-list > li:nth-child(5) a:hover i {
  color: #fb5a09;
}
/*---------------- testimonials ---------------*/

#testimonials {
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
  padding: 30px 0 50px 0;
}
#testimonials .title {
  margin-bottom: 30px;
  font-size: 44px;
  color: #343434;
  font-weight: 900;
  line-height: 44px;
}
.testimonials-image img {
  width: 100px !important;
  height: 100px !important;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -173px;
}
.testimonials-content {
  background-color: #fff;
  padding: 75px 100px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
  max-width: 750px;
  margin: 50px auto;
  text-align: center;
  border-radius: 10px;
}
.testimonial-comment h4 {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 24px;
  letter-spacing: -0.03em;
}
.testimonial-info {
  font-family: "Poppins", serif;
  font-size: 12px;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: #787878;
}
.testimonial-comment p {
  margin: 25px 0 0 0;
  font-size: 18px;
  font-weight: 300;
  color: #787878;
  font-family: "Source Sans Pro", sans-serif;
}

#testimonials .testi-ind {
  top: 100%;
}
#testimonials .testi-ind [data-bs-target] {
  width: 13px !important;
  height: 13px !important;
  margin: 5px 7px !important;
  margin-top: 10px !important;
  display: block !important;
  border-radius: 30px !important;
  border-radius: 50% !important;
  background-color: grey !important ;
}
#testimonials .testi-ind [data-bs-target].active {
  background-color: var(
    --main-color
  ) !important; /* Background color when selected */
}

/* ! start media */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 991px) {
  .nav-icon {
    display: none !important;
  }
}
@media (max-width: 767px) {
  #navbar .container-md {
    padding: 0;
  }
  img#logo {
    padding: 0 12px;
  }
  .navbar-default {
    border-bottom: 0;
  }
  li.nav-item {
    padding: 8px 0;
  }

  .navbar-default a.nav-link {
    color: black;
    padding: 10px;
  }
  ul.navbar-nav.ms-auto {
    position: relative;
    top: 10px;
    background: white;
    padding: 20px 0;
  }
  #Home h1 {
    font-size: 60px;
  }
}

@media (max-width: 450px) {
  #Home h1 {
    font-size: 40px;
  }
  #Home .inner p {
    font-size: 12px;
  }
}
